.header {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    height: 50px; 
    padding: 0 20px;
    background-color: white;  /* Mặc định là Light Mode */
    color: black;
    border-bottom: 1px solid #ddd;
    transition: background-color 0.3s, color 0.3s;
}

/* Dark mode */
.dark-header {
    background-color: #1f1f1f !important;
    color: #fff !important;
    border-bottom: 1px solid #333;
}

.header-title {
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
}

.header-icon {
    font-size: 20px;
    margin-right: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: color 0.3s;
}

.header-icon:hover {
    color: #1890ff;
}

.header-actions {
    display: flex;
    align-items: center;
    gap: 15px;
}

.header-icon, .header-avatar, .theme-switch {
    display: flex;
    align-items: center;
    justify-content: center;
}
