.admin-content {
    padding: 20px;
    background: #f0f2f5;
    min-height: 280px;
    overflow: auto;
}

.ant-layout-header {
    background: #f8f9fa !important; /* Màu nền Header giống hình ảnh */
    padding: 0;
    height: 60px; /* Chiều cao Header */
    line-height: 60px; /* Căn giữa nội dung theo chiều dọc */
}

.ant-layout-sider {
    background: #2c3e50; /* Màu nền Sidebar giống hình ảnh */
    color: #fff;
}