/* Style cho Dropdown menu */
.custom-dropdown-menu {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 10px;
  width: 200px; /* Điều chỉnh kích thước nếu cần */
  margin-top: 20px; /* Tạo khoảng cách giữa dropdown và nút */
}
.custom-dropdown-menu.show {
  display: block;
  margin-top: 19px;
}
.icon-text {
  display: flex;
  align-items: center;
}

.icon-text i {
  margin-right: 8px; /* Khoảng cách giữa icon và văn bản */
}

/* Style cho từng Item trong Dropdown */
.custom-dropdown-item {
  padding: 10px;
  margin-bottom: 8px; /* Khoảng cách giữa các item */
  transition: background-color 0.3s ease; /* Hiệu ứng khi hover */
  border-radius: 5px; /* Bo góc cho item */
}

/* Hover và Active style cho item */
.custom-dropdown-item:hover {
  background-color: #f0f0f0;
}

/* Style cho các link bên trong Dropdown item */
.custom-dropdown-link {
  color: #333;
  text-decoration: none;
  font-weight: bold;
  display: block;
}

.custom-dropdown-link:hover {
  color: #79797d; /* Màu chữ khi hover */
}

.sidebar-menu {
  position: fixed;
  left: -250px;
  top: 0;
  width: 250px;
  height: 100%;
  background-color: #fff;
  box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.1);
  transition: left 0.3s ease;
  z-index: 999;
  padding-top: 20px;
}

.sidebar-menu.open {
  left: 0;
}

.sidebar-menu ul {
  list-style: none;
  padding: 0;
}

.sidebar-menu ul li {
  margin: 20px;
}

.sidebar-menu ul li a {
  text-decoration: none;
  color: #333;
  display: flex;
  align-items: center;
  font-size: 1.2rem;
}

.sidebar-menu ul li a i {
  margin-right: 10px;
}

.sidebar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.close-icon {
  cursor: pointer;
  /* color: #333; */
}

/* Style cho phần nội dung khi sidebar mở */
.main-content {
  transition: margin-left 0.3s ease;
}

.main-content.shifted {
  margin-left: 250px;
}
